textarea {
	white-space: nowrap;
	resize: none;
}

html {
	background-color: #99ff66;
}

.CodeMirror {
	height: 100%;
	width: auto;
}

#input {
	margin-left: 0%;
	width: 49.5%;
	height: 75%;
	overflow: auto;
	background: white;
	float: left;
}

#outputdiv {
	background-color: red;
	margin-left: 50.5%;
	width: 49.5%;
	height: 75%;
}

#graphstuff {
	text-align: center;
	font-size: 20;
	color: #DEB887;
	float: left;
	background-color: blue;
	margin-top: 1%;
	margin-left: 1%;
	width: 98%;
	height: 67%;
}

#output {
	float: left;
	background: white;
	margin-left: 1%;
	margin-top: 1%;
	width: 98%;
	height: 31.5%;
	border: none;
}

#projectName {
	color: purple;
	background-color: white;
}