textarea {
    white-space: nowrap;
    resize: none;
}

html{
	background-color: #99ff66;
}

#input {
	width: 50%;
	height: 75%; 
}

#output {
	position:relative;
	float:right;
	width: 49%;
	height: 50%;
}

#projectName{
	color:purple;
	background-color: white;
}